{% extends 'base.html' %}
{% load static %}

{% block title %}Rejestracja{% endblock %}

{% block log--action %}
<ul class="nav--actions">
  <li><a href="/login/#login" class="btn btn--small btn--without-border">Zaloguj</a></li>
  <li><a href="/register/#register" class="btn btn--small btn--highlighted">Załóż konto</a></li>
</ul>
{% endblock %}

{% block content %}
<section id="register" class="login-page">
    <h2>Załóż konto</h2>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="first_name" placeholder="Imię" required class="form-control">
        </div>
        <div class="form-group">
            <input type="text" name="last_name" placeholder="Nazwisko" required class="form-control">
        </div>
        <div class="form-group">
            <input type="email" name="email" placeholder="Email" required class="form-control">
        </div>
        <div class="form-group">
            <input type="password" name="password1" placeholder="Hasło" required class="form-control">
        </div>
        <div class="form-group">
            <input type="password" name="password2" placeholder="Powtórz hasło" required class="form-control">
        </div>
        <div class="form-group form-group--buttons">
            <a href="{% url 'login' %}" class="btn btn--without-border">Zaloguj się</a>
            <button type="submit" class="btn">Załóż konto</button>
        </div>
    </form>
</section>
{% endblock %}
